<!--description-->
{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

        Search your desired products

{% endblock %}
{% block title %}
    SEARCH
{% endblock %}

{% block content %}
<div>
    <p class="text-center my_search">You have searched for <b>"{{querry}}"</b></p>
</div>
<div class="container">
    <div class="row mx_auto">
        {% for product in products %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center"><br>
                <a href="{{ product.get_url }}"><img class="card-img-top" src="{{ product.img.url }}" height="300px" width="200px" alt="{{ product.name }}"></a>
                <div class="card-body">
                     <h4>{{ product.name }}</h4>
                    <p >{{ product.price }}</p>
                 </div>
            </div>
        </div>
    </div>

</div>
{% empty %}
<div class="row mx_auto">
    <p class="text-center my_search">No search results</p>
</div>
{% endfor %}
{% endblock %}

